{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}


<div class="max-w-lg mx-auto mt-10">
  <a class="hover:text-blue-500 mt-5" href="{% url 'agents:agent-list' %}">Go Back to Agents</a>
    <div class="py-5 border-t border-gray-200">
       <h1 class="text-3xl text-gray">Create a New Agent </h1>
    </div>
     <div class="mt-5">
       <form method="post">
       {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full text-white bg-blue-500 hover:bg-green-600 px-3 py-2 rounded-md">Submit</button>
        </form>
    </div>
</div>
{% endblock %}